# Resolución desafio de visualizacion de datos

## Parte 1

Instalamos e importamos librerias necesarias:

In [2]:
! pip3 install numpy
! pip3 install pandas
! pip3 install matplotlib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /home/cris/.local/lib/python3.10/site-packages (1.23.5)
Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-1.5.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.1/12.1 MB 44.8 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting pytz>=2020.1
  Downloading pytz-2022.6-py2.py3-none-any.whl (498 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 498.1/498.1 kB 27.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in /home/cris/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in /home/cris/.local/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /home/cris/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.5.2 pytz-2022.6
Defaulting to user installation because normal site-packages is not writeable
Collecting matplotlib
  Downloading matplotlib-3.6.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.8/11.8 MB 40.6 MB/s eta 0:00:00m eta 0:00:010:0101
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 37.8 MB/s eta 0:00:00m eta 0:00:01
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Requirement already satisfied: packaging>=20.0 in /usr/lib/python3.10/site-packages (from matplotlib) (21.3)
Requirement already satisfied: numpy>=1.19 in /home/cris/.local/lib/python3.10/site-packages (from matplotlib) (1.23.5)
Requirement already satisfied: python-dateutil>=2.7 in /home/cris/.local/lib/python3.10/site-packages (from matplotlib) (2.8.2)
Collecting pillow>=6.2.0
  Downloading Pillow-9.3.0-cp310-cp310-manylinux_2_28_x86_64.whl (3.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 47.2 MB/s eta 0:00:0031m58.8 MB/s eta 0:00:01
Collecting fonttools>=4.22.0
  Downloading fonttools-4.38.0-py3-none-any.whl (965 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 965.4/965.4 kB 38.3 MB/s eta 0:00:00
Collecting contourpy>=1.0.1
  Downloading contourpy-1.0.6-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (296 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 296.1/296.1 kB 18.8 MB/s eta 0:00:00
Requirement already satisfied: pyparsing>=2.2.1 in /usr/lib/python3.10/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: six>=1.5 in /home/cris/.local/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.0.6 cycler-0.11.0 fonttools-4.38.0 kiwisolver-1.4.4 matplotlib-3.6.2 pillow-9.3.0

In [3]:
import numpy as np
import pandas as pd
import matplotlib as plt

Creamos los respectivos dataframes para los archivos dados:

In [53]:
ins_df  = pd.read_csv("institution.csv",sep=";")
ins_df

,institution,year,total_income,non_academic_income,income_from_tuition,total_expenditure,expenditure_on_staff,expenditure_on_faculty,expenditure_on_research,total_staff,total_teaching_staff,toal_teaching_staff_with_phd,number_of_classrooms,number_of_laboratories,number of research_studies
0,GAMMA,2019,37476039,568077,36907962,39874477,14963274,14326880,2404178,114,69,46,35,17,0
1,GAMMA,2020,42280504,367479,41913024,38836192,12483726,13691537,4637632,92,81,55,35,17,0
2,DELTA,2019,41420886,627874,40793011,44071790,16538355,15834973,2657249,126,76,51,38,18,0
3,DELTA,2020,46731083,406162,46324921,42924213,13797803,15132752,5125803,101,90,60,38,18,0
4,DELTA,2021,54297048,157500,54139548,50686837,19561282,19059580,2993550,80,102,58,38,18,0
5,EPSILON,2019,45365732,687672,44678060,48269104,18113437,17343066,2910321,138,83,56,42,20,0
6,EPSILON,2020,51181663,444844,50736818,47012233,15111879,16573966,5613975,111,98,66,42,20,0
7,EPSILON,2021,59468195,172500,59295695,55514155,21424261,20874778,3278649,88,112,64,42,20,0
8,G,2021,45000000,8550000,40500000,50000000,13140000,14600000,6000000,100,100,58,40,20,60
9,G,2020,43000000,8170000,38700000,45000000,13050000,14500000,5000000,100,100,58,40,20,45
10,G,2019,40000000,7600000,36000000,38000000,13500000,15000000,2500000,120,80,49,40,20,40
11,W,2021,45000000,8550000,40500000,50000000,13140000,14600000,6000000,100,100,58,40,20,60
12,W,2020,43000000,8170000,38700000,45000000,13050000,14500000,5000000,100,100,58,40,20,45
13,W,2019,40000000,7600000,36000000,38000000,13500000,15000000,2500000,120,80,49,40,20,40
14,J,2021,45000000,8550000,40500000,50000000,13140000,14600000,6000000,100,100,58,40,20,60
15,J,2020,43000000,8170000,38700000,45000000,13050000,14500000,5000000,100,100,58,40,20,45
16,J,2019,40000000,7600000,36000000,38000000,13500000,15000000,2500000,120,80,49,40,20,40
17,O,2020,43000000,8170000,38700000,45000000,13050000,14500000,5000000,100,100,58,40,20,45
18,O,2019,40000000,7600000,36000000,38000000,13500000,15000000,2500000,120,80,49,40,20,40
19,D,2021,47000000,8550000,40500000,50000000,13140000,14600000,6000000,100,100,58,40,20,60
20,D,2020,43000000,8170000,38700000,45000000,13050000,14500000,5000000,100,100,58,40,20,45
21,D,2019,40000000,7600000,36000000,38000000,13500000,15000000,2500000,120,80,49,40,20,40
22,P,2021,50000000,8550000,40500000,50000000,13140000,14600000,6000000,100,100,58,40,20,60
23,P,2020,43000000,8170000,38700000,45000000,13050000,14500000,5000000,100,100,58,40,20,45
24,P,2019,40000000,7600000,36000000,38000000,13500000,15000000,2500000,120,80,49,40,20,40
25,H,2021,45000000,8550000,40500000,50000000,13140000,14600000,6000000,100,100,58,40,20,60
26,H,2020,43000000,8170000,38700000,45000000,13050000,14500000,5000000,100,100,58,40,20,45
27,H,2019,40000000,7600000,36000000,38000000,13500000,15000000,2500000,120,80,49,40,20,40
28,X,2020,43000000,8170000,38700000,45000000,13050000,14500000,5000000,100,100,58,40,20,45
29,T,2021,40000000,0,0,30000000,15000000,10000000,500000,52,15,14,180,25,4
30,X,2021,45000000,8550000,40500000,50000000,13140000,14600000,6000000,100,100,58,40,20,60
31,X,2019,40000000,7600000,36000000,38000000,13500000,15000000,2500000,120,80,49,40,20,40
32,H,2021,3700000,0,0,1700000,0,0,0,0,0,7,50,10,5
33,U,2020,100000000,90000,1000000,800000000,10000000,20000000,30000000,300,500,800,50,50,1100
34,A,2021,45000000,8550000,40500000,50000000,13140000,14600000,6000000,100,100,58,40,20,60
35,A,2020,43000001,8170000,38700000,45000000,13050000,14500000,5000000,100,100,58,40,20,45
36,A,2019,40000001,7600000,36000000,38000000,13500000,15000000,2500000,120,80,49,40,20,40

In [47]:
prog_df = pd.read_csv("program.csv",sep=";")
prog_df

                                      program institution program_level  \
0              ASSOCIATE IN HEALTH MANAGEMENT       GAMMA     Associate
1              ASSOCIATE IN HEALTH MANAGEMENT       GAMMA     Associate
2              ASSOCIATE IN HEALTH MANAGEMENT       GAMMA     Associate
3    ASSOCIATE IN MEDICAL LABORATORY ANALYSIS       GAMMA     Associate
4    ASSOCIATE IN MEDICAL LABORATORY ANALYSIS       GAMMA     Associate
..                                        ...         ...           ...
184                                 PROGRAM 3           B      Bachelor
185                                 PROGRAM 3           B      Bachelor
186                                 PROGRAM 4           B      Bachelor
187                                 PROGRAM 4           B      Bachelor
188                                 PROGRAM 4           B      Bachelor

               program_classification  program_duration_in_years  \
0                  Health and Welfare                        2.0
1                  Health and Welfare                        2.0
2                  Health and Welfare                        2.0
3                  Health and Welfare                        2.0
4                  Health and Welfare                        2.0
..                                ...                        ...
184  Business, Administration and Law                        4.0
185  Business, Administration and Law                        4.0
186                Health and Welfare                        4.0
187                Health and Welfare                        4.0
188                Health and Welfare                        4.0

     program_internationally_acredited  year  new_students_enrrolled  \
0                                    0  2019                       6
1                                    0  2020                       4
2                                    0  2021                       7
3                                    0  2019                       9
4                                    0  2020                      15
..                                 ...   ...                     ...
184                                  1  2020                     175
185                                  1  2019                     161
186                                  1  2021                      86
187                                  1  2020                     117
188                                  1  2019                     120

     new_female_students_enrolled  new_international_students_enrrolled  \
0                               1                                     2
1                               3                                     4
2                               6                                     4
3                               7                                     9
4                              11                                    12
..                            ...                                   ...
184                            61                                    56
185                            49                                    58
186                            62                                    76
187                            83                                   107
188                            93                                   104

     students_enrolled  international_students_enrolled  \
0                   21                                5
1                   16                                0
2                   19                                3
3                   24                                1
4                   29                                4
..                 ...                              ...
184                493                              270
185                483                              250
186                371                               34
187                371                               32
188                328                               32

     female_students_enrolled  graduating_students  \
0                          14                    1
1                          12                    6
2                          15                    0
3                          17                    1
4                          20                    7
..                        ...                  ...
184                       198                   86
185                       207                   90
186                       285                   17
187                       287                   36
188                       255                   35

     female_graduating_students  international_graduating_students  \
0                             1                                  1
1                             6                                  6
2                             0                                  0
3                             1                                  1
4                             5                                  6
..                          ...                                ...
184                          44                                 41
185                          52                                 45
186                          14                                 15
187                          29                                 35
188                          26                                 34

     tuition_fees
0         62272.0
1         62272.0
2         68499.0
3         66832.0
4         66832.0
..            ...
184      120000.0
185      110000.0
186      150000.0
187      140000.0
188      130000.0

[189 rows x 17 columns]

En base a los outputs que acabamos de obtener, está claro que "institucion" clasifica por institucion, año, ingresos totales, ingresos fuera de lo académico, ingresos por matrícula, gastos totales, gastos de personal y gastos hacia la facultad (se podría intuir que son gastos de infraestructura). Los datos que encontramos en "program" son clasificados por programa, institución, nivel del programa, clasificación o categoría del programa, duración del programa en años, un identificador que nos dice si el programa está acreditado internacionalmente (1) o no (0), año del programa, estudiantes nuevos que están en el programa, estudiantes mujeres nuevas que están en el programa, estudiantes internacionales nuevos que están dando el programa, estudiantes inscritos, estudiantes internacionales inscritos, estudiantes mujeres inscritas, estudiantes graduados, estudiantes mujeres graduados, estudiantes internacionales graduados y tarifas por matrícula.
En base a esta información, podemos obtener por ejemplo cuántos estudiantes son mujeres (incluyendo las nuevas y las que se estan graduando) y están dando el programa "PROGRAM 1":

In [52]:
prog = prog_df['program']
fem_students = prog_df[['new_female_students_enrolled','female_students_enrolled','female_graduating_students']]
fem_sum = fem_students.sum(axis=1)
total=0
i=0
for p in prog:
    if p=="PROGRAM 1":
        total+=fem_sum.iloc[i]
    i+=1
print(f"hay {total} mujeres dando el programa \"POGRAM 1\"")

hay 816 mujeres dando el programa "POGRAM 1"

## Parte 2

#### Visualización de los datos de institucion

Primero analizaremos una comparación de ingresos totales en cada institucion en los año 2019 y 2020 (por separado) versus los gastos totales de las instituciones esos mismos años:

In [68]:
temp = ins_df[['institution','year','total_income','total_expenditure']]
df_19 = temp.loc[(temp['year']==2019)]
df_20 = temp.loc[(temp['year']==2020)]

   institution  year  total_income  total_expenditure
1        GAMMA  2020      42280504           38836192
3        DELTA  2020      46731083           42924213
6      EPSILON  2020      51181663           47012233
9            G  2020      43000000           45000000
12           W  2020      43000000           45000000
15           J  2020      43000000           45000000
17           O  2020      43000000           45000000
20           D  2020      43000000           45000000
23           P  2020      43000000           45000000
26           H  2020      43000000           45000000
28           X  2020      43000000           45000000
33           U  2020     100000000          800000000
35           A  2020      43000001           45000000